# Branching:-

In [ ]:
# .This is used for calculations, possibilities and cmparisions.
.elif is combination of if+else.
.'if' statement can be used with any evaluation of truthiness.

In [12]:
item_1=100
item_2=300
if (item_1+item_2)>=500:
    print('you are eligible for free shipping')
else:
    extra=500-(item_1+item_2)             # 2nd option print because both item total cost is 400 so first option became false.
    print('Please add',extra,'Rs worth for eligible for free shipping')

Please add 100 Rs worth for eligible for free shipping

In [2]:
item_1=400
item_2=300
if (item_1+item_2)>=500:
    print('you are eligible for free shipping')
else:
    extra=500-(item_1+item_2)             # now both item total is 700 so second option became false.
    print('Please add',extra,'Rs worth for eligible for free shipping')

you are eligible for free shipping

In [6]:
# 'and' & 'or' conditions
a=100
b=33
c=500
if a > b and c < a:                         # in 'and' one condition must be true because True and Flase= Flase.
    print('atleast one condition is true')
else:
    print('both the condition is true')

both the condition is true

In [7]:
a=100
b=33
c=500
if a > b or c < a:                         # in 'or' one condition atleast one condition is true.
    print('atleast one condition is true')
else:
    print('both the condition is true')

atleast one condition is true

In [10]:
# Nested if and if,& else combined 
marks=20
if marks>=60:
    if marks>70:
        print(marks,' Distinction')
    else:
        print(marks,' First Class')
elif marks>50 and marks<60:
    print(marks,' Second Class')
elif marks>=35:
    print(marks,' Pass')
else:
    print(marks,' Fail')

20  Fail

In [11]:
marks=85
if marks>=60:
    if marks>70:
        print(marks,' Distinction')
    else:
        print(marks,' First Class')
elif marks>50 and marks<60:
    print(marks,' Second Class')
elif marks>=35:
    print(marks,' Pass')
else:
    print(marks,' Fail')

85  Distinction

In [13]:
a=25
b=30
if a == '25':
    print('first is correct')
elif b > 28:
    print('second is correct')        # Second is correct because '25' is a string and a=25 is inetger

second is correct

## Range:-

.Given by range()
.It includes start, stop and step size by using range(start,stop,stepsize).that
.Step size is that how you want your data either continue or escaping numbers.
.If number is given in for ex.10 in range(10) then it is considered as stop point and step size is 1 by default.
.for output function list() is used in range.
.Stop number always be excluded.
.It is not work for 'Float'.

In [14]:
# Range 
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Start, stop and step size.
student=list(range(1,50,2))   # here 1= start no. 50=stop and 2=stepsize
student

In [19]:
# Reverse use '-' for this.
student=list(range(50,-1,-4))   # here -4= step size becuse we want to reverse it.
student

[50, 46, 42, 38, 34, 30, 26, 22, 18, 14, 10, 6, 2]

# Loop:-

.It is used when data is excuted in sequence means you want your data to be executed one after other(one by one).
.There are two types of loops 1.For loop & 2.While loop

In [2]:
# 1. For loop- whwn you know howmany times to execute the code.
location=['delhi','jaipur','ajmer','kota','amer','haryana']
for city in location:
    print(city)                  # data is printed in sequence one after other

delhi
jaipur
ajmer
kota
amer
haryana

In [5]:
student_marks=[35,54,68,88,73,89,25,32,66,95]
for marks in student_marks:
    if marks>=60:
        if marks>70:
            print(marks,' Distinction')
        else:
            print(marks,' First Class')
    elif marks>50 and marks<60:
        print(marks,' Second Class')
    elif marks>=35:
        print(marks,' Pass')
    else:
        print(marks,' Fail')      # every value is excuted one after another

35  Pass
54  Second Class
68  First Class
88  Distinction
73  Distinction
89  Distinction
25  Fail
32  Fail
66  First Class
95  Distinction

In [6]:
# List Comperehension- it is the short way of creating new list from the values of existing one & want result in [].
salary=[2000,5000,6000,4000,3000,5500,4500]
sal=[val for val in salary if val > 4000]
sal

[5000, 6000, 5500, 4500]

In [10]:
# for loop with esle -
for num in range(2,6):
    print('Multiplication table for -', num)
    for i in range(1,11):
        print(num*i)
        if i==10:
            print('\n')
     
else:
    print('*'*15)
    print('End of table')
    print('*'*15)

Multiplication table for - 2
2
4
6
8
10
12
14
16
18
20


Multiplication table for - 3
3
6
9
12
15
18
21
24
27
30


Multiplication table for - 4
4
8
12
16
20
24
28
32
36
40


Multiplication table for - 5
5
10
15
20
25
30
35
40
45
50


***************
End of table
***************

In [11]:
# While loop- when you don't know how many times to execute the code and if the condition is true.
i=0
while i<10:
    i=i+1
    print('akshay') # it endes at 10 because if i=10 then toatl become 11 which is false for condtn i<10.

akshay
akshay
akshay
akshay
akshay
akshay
akshay
akshay
akshay
akshay