# Data types/Structures
1 Numbers
2 String
3 List
4 Tuple
5 Set
6 Dictonary

1. Number

In [1]:
a=20
type(a)

int

In [2]:
a=20.2
type(a)

float

2. String
.It is always in quotes '',"",or "''".

In [11]:
a= 'akshay'
b= ' love'
c= ' coding'
z=a+b+c
type(z)

str

In [12]:
a= 'akshay'
b= ' love'
c= ' coding'
z=a+b+c
print(z)

akshay love coding

In [15]:
print(' Akshay' * 5)

 Akshay Akshay Akshay Akshay Akshay

In [3]:
print('-' * 30)
print('           akshay')
print('-' * 30)

------------------------------
           akshay
------------------------------

3. List
.It is in square brackets []
.IT is mutable means you can do anything like edit, add, remove, insert, etc,.
.It accepts all kind of data types like float, integer, string, etc,.

In [4]:
l=['a','b','c']
l

['a', 'b', 'c']

In [5]:
# with string , integer and float
l=['a',6,65.5]
l

['a', 6, 65.5]

In [6]:
# to copy into another list
l2=list(l)
l2

['a', 6, 65.5]

In [8]:
marks=[30,40,22,55,25]
marks

[30, 40, 22, 55, 25]

In [9]:
copy_marks=marks.copy()
copy_marks

[30, 40, 22, 55, 25]

In [10]:
copy_marks

[30, 40, 22, 55, 25]

In [13]:
list('akshay')

['a', 'k', 's', 'h', 'a', 'y']

-> Functions:-
1 append(to add in list)
2 index&insert(to add in between in list and how to count in list)
3 Indexing and Slicing (Length, reasigning, fetching data, add by another method)
4 Advance list (count,index,extend,pop)

In [14]:
# .append(always add data in last)
student=[]
student.append('akshay')
print(student)

['akshay']

In [15]:
student.append('bhart')
student.append('aditi')
print(student)

['akshay', 'bhart', 'aditi']

In [19]:
# Index & Insert (to add and fix in between) Formulae- .insert(location,'data')

# Index:- student=['akshay','bharti','aditi'] so if we do index than akshay=0 bharti=1 aditi=2 they are its indexing position.

# Now to add priya in between bharti and aditi we have to insert it as follow:

student.insert(2,'priya')                                    #2=position at where priya is to be add
print(student)

['akshay', 'bhart', 'priya', 'aditi']

In [21]:
student_rollno=[10,50,60]
student_rollno

[10, 50, 60]

In [23]:
student_rollno.insert(0,22)
student_rollno

[22, 10, 50, 60]

In [1]:
#  Indexing and Slicing (Length, reasigning, fetching data, add by another method)

#Length= len():-
salary=[10000,20000,30000,40000]
salary

[10000, 20000, 30000, 40000]

In [2]:
len(salary)

4

In [3]:
# Reassigning(to replace and reassign with old one with new one)
salary[1]=11000
salary                            # 20000 replaced by 11000

[10000, 11000, 30000, 40000]

In [4]:
# Fetching data:- Formulae [starting index : end index]

salary[1:]                        # started from position 1 till end

[11000, 30000, 40000]

In [5]:
salary[:3]                        # started from 0 position till second last position because last postion is excluded

[10000, 11000, 30000]

In [6]:
salary[1:3]                       # started from 1 end at 2

[11000, 30000]

In [7]:
# To add data (temporary & permanent)

# 1.Temporary
salary + [50000]

[10000, 11000, 30000, 40000, 50000]

In [8]:
salary                         # 50000 removed because it added temporary

[10000, 11000, 30000, 40000]

In [9]:
# 2.Permqnent
salary=salary+[50000]
salary

[10000, 11000, 30000, 40000, 50000]

In [10]:
salary                       # not removed because by this it added permanent

[10000, 11000, 30000, 40000, 50000]

In [1]:
# Advance list(count,index,extend,pop)

# Count- .count()             # It is used to count particular data that hoew many number odf times it is there iin data
marks=[10,20,30,10,40,50,10,60,70,10]
marks.count(10)              #total numbr of 10 is 4

4

In [2]:
# Index- .index()
# It is used to find the index position of particular data given but only reflect the first no. if it was repeated.

marks=[10,20,30,10,40,50,10,60,70,10]               # 10 is given multiple time than is shows index position of first '10'
marks.index(10)                                     # '0' is the index position of first '10'

0

In [3]:
marks=[0,20,30,10,40,50,10,60,70,10]              # to find index of further '10' you have to change the number 10 with other.
marks=[0,20,30,10,40,50,10,60,70,10]              # 10 is changed with 0, now find index of next 10.
marks.index(10)                                   # Repeat further to findex index of other.

3

In [6]:
# Extend- .extend()                 # It is used to add multiple data at single time that we can't do in .append.
student=['akki','kucchi','tintin','digi']
student

['akki', 'kucchi', 'tintin', 'digi']

In [8]:
student.extend(['arti','priya'])    # both the name should be add at one shot.
print(student)

['akki', 'kucchi', 'tintin', 'digi', 'arti', 'priya', 'arti', 'priya']

In [10]:
# Pop- .pop       # it is used to eliminate or delete element from the data. If pop() is empty it will delete last one.
student=['akki','kucchi','tintin','digi']
student.pop()
print(student)     # Automatically deletes the last one 'digi'.

['akki', 'kucchi', 'tintin']

In [12]:
# By giving index posiotion in .pop you can remove desired element.Other elements only eliminate by giving index position.
student=['akki','kucchi','tintin','digi']
student.pop(0)            # '0' is the index psoition of 'akki'.
student

['kucchi', 'tintin', 'digi']

In [13]:
# Remove- .remove()  # It is used to delete element by directly mentioning element.If there are duplicates it will remove first.
student=['akki','kucchi','tintin','digi']
student.remove('akki')       # akki is removed by directly mentioning it.
print(student)

['kucchi', 'tintin', 'digi']

In [14]:
student=['akki','kucchi','tintin','digi','kucchi']  # there are two kucchi's are in data.
student.remove('kucchi')
student                                              # first kucchi is removed.

['akki', 'tintin', 'digi', 'kucchi']

In [15]:
# Reverse- .reverse()                   # It is used to reverse the list.
roll_number=[20,10,30,40,60,70,80,50]
roll_number.reverse()
roll_number                             # data will be reverse.

[50, 80, 70, 60, 40, 30, 10, 20]

In [16]:
# Sort- .sort()               # It is used to sort or arrange data in ascending order.
roll_number=[20,10,30,40,60,70,80,50]
roll_number.sort()
roll_number                   # data sorted in ascending order.

[10, 20, 30, 40, 50, 60, 70, 80]

In [17]:
student=['akki','kucchi','tintin','digi']       #if there is text than it will be sorted in alphabetically.
student.sort()
student

['akki', 'digi', 'kucchi', 'tintin']

3. Tuple :-
.IT is in parenthesis '()'.
.It is immutable that means you can't do or change anything with data.
.Tuple can be converted into list(tuple<->list) to edit or do change in data. After, that list also converted to tuple.
.len(), count(), index() you can apply in tupple because it do not changes the data.
.There are only two basic methods in tuple are count and index.

In [18]:
location=('Delhi','Jaipur','Gurugram','Agra')    # data is in tuple.
type(location)

tuple

In [19]:
len(location)

4

In [21]:
location.count('Jaipur')

1

In [24]:
location.index('Agra')

3

In [25]:
location=list(location)     #converting tuple into list.
location

['Delhi', 'Jaipur', 'Gurugram', 'Agra']

In [26]:
type(location)

list

In [27]:
# applying edit to coverted data.
location[1]='kolkata'
location

['Delhi', 'kolkata', 'Gurugram', 'Agra']

In [28]:
# convert data from list to tuple.
location=tuple(location)
location

('Delhi', 'kolkata', 'Gurugram', 'Agra')

In [29]:
type(location)

tuple

5. Sets:-
.It is {}.
.It is constructed using set().
.It automatically eliminates duplicate values if it present in data and arrange data in an order.
.It doesn't allow to add similar data.
.Set converted to list or from list to set.

In [1]:
roll_no=[1,5,4,3,8,9,1,5,6,4,7,8]
roll_no=set(roll_no)
roll_no                #list converted into set and duplicate data removed and arranged in order.

{1, 3, 4, 5, 6, 7, 8, 9}

In [3]:
student_name={'akshay','aditi','arti','bharti','arti','priya','bharti'}
student_name

{'aditi', 'akshay', 'arti', 'bharti', 'priya'}

6. Dictonary:-
.It is in {}.
.It always have 'key' and 'value'.
.IT creates table for programming data.

In [4]:
my_dict={'key1':'value1','key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [5]:
type(my_dict)

dict

In [7]:
# To find value of particular key
student_data={'roll_no':1234,'name':['akki','kuchi','addu','arti'],'marks':[10,20,30,40],'subject':['comp','math','sci','eco']}
student_data

{'roll_no': 1234,
 'name': ['akki', 'kuchi', 'addu', 'arti'],
 'marks': [10, 20, 30, 40],
 'subject': ['comp', 'math', 'sci', 'eco']}

In [8]:
student_data['name']       # only name will be displayed.

['akki', 'kuchi', 'addu', 'arti']

In [9]:
student_data['name'][2]    # Now index psotion 2 in name will be displayed which is 'addu'.

'addu'

In [10]:
# To convert data in upper and lower case (.upper() & .lower())
student_data['name'][2].upper()       # .upper()

'ADDU'

In [11]:
student_data['name'][2].lower()       # .lower()

'addu'

In [14]:
# To add data to existing one and to do change in it.
student_data['marks'][2]=student_data['marks'][2]+40
student_data['marks']                # 40 is added to 30 in marks.

[10, 20, 110, 40]

In [17]:
# Direct formulae to add or subtract(+= or -=).+40
student_data['marks'][2]+=40         # add
student_data['marks']

[10, 20, 150, 40]

In [18]:
student_data['marks'][2]-=20         # subtract
student_data['marks']

[10, 20, 130, 40]

In [21]:
# To insert a new key in existing.
student_data

{'roll_no': 1234,
 'name': ['akki', 'kuchi', 'addu', 'arti'],
 'marks': [10, 20, 130, 40],
 'subject': ['comp', 'math', 'sci', 'eco']}

In [23]:
student_data['year']= '3rd'
student_data

{'roll_no': 1234,
 'name': ['akki', 'kuchi', 'addu', 'arti'],
 'marks': [10, 20, 130, 40],
 'subject': ['comp', 'math', 'sci', 'eco'],
 'year': '3rd'}

In [24]:
# To update use .update().
student_data.update({'year':'4th'})
student_data

{'roll_no': 1234,
 'name': ['akki', 'kuchi', 'addu', 'arti'],
 'marks': [10, 20, 130, 40],
 'subject': ['comp', 'math', 'sci', 'eco'],
 'year': '4th'}