# Function

.It helps reducing the number of lines of code.
.It increases the layout and make minimum coding.

In [1]:
# define function- function_name(argue1,argue2)
def say_hello():
    print('This is just example')
say_hello()               # To call the function

This is just example

In [2]:
def greeting(name):
    print('Hello',name)
greeting('World!')

Hello World!

# Using Return 
.It is used to pass or carry the result of a function further.

In [1]:
def salary_update(fixed_salary,petrol_rent):
    total_sal=(fixed_salary+petrol_rent)
    if total_sal<=9000:
        return total_sal+1000         #using return to carry result further.
    else:
        return total_sal

In [4]:
print('My new salary=',salary_update(6500,2000))     # total salary is less than 9000 that's why increase in salary.

My new salary= 9500

In [5]:
print('My new salary=',salary_update(5500,2000))

My new salary= 8500

In [7]:
total_sal=salary_update(5500,2000)

In [8]:
total_sal                      # result is passsed or carried automatically.

8500

In [9]:
# Real time example=used car buying
def used_car_price(car_year, car_brand, car_city, kmeters):
    if car_year==2020:
        if car_city=='Jaipur':
            if 10000<kmeters<=15000:
                if car_brand=='Tata Altroz':
                    print('Rs 650000-Rs 750000')
                elif car_brand=='Tata Nexon':
                    print('Rs 700000-Rs 900000')
                else:
                    print('Not in Stock, Check in Future')
            elif 15001<kmeters<=25000:
                if car_brand=='Tata Altroz':
                    print('Rs 750000-Rs 850000')
                elif car_brand=='Tata Nexon':
                    print('Rs 750000-Rs 950000')
                else:
                    print('Not in Stock, Check in Future')
        elif car_city=='Udaipur':
            if 10000<kmeters<=15000:
                if car_brand=='Tata Altroz':
                    print('Rs 550000-Rs 650000')
                elif car_brand=='Tata Nexon':
                    print('Rs 600000-Rs 800000')
                else:
                    print('Not in Stock, Check in Future')
            elif 15001<kmeters<=25000:
                if car_brand=='Tata Altroz':
                    print('Rs 750000-Rs 850000')
                elif car_brand=='Tata Nexon':
                    print('Rs 750000-Rs 950000')
                else:
                    print('Not in Stock, Check in Future')
        else:
            print('No stocks')
    elif car_year==2021:
        if car_city=='Jaipur':
            if 10000<kmeters<=15000:
                if car_brand=='Tata Altroz':
                    print('Rs 650000-Rs 750000')
                elif car_brand=='Tata Nexon':
                            print('Rs 700000-Rs 900000')
                else:
                    print('Not in Stock, Check in Future')
            elif 15001<kmeters<=25000:
                if car_brand=='Tata Altroz':
                    print('Rs 750000-Rs 850000')
                elif car_brand=='Tata Nexon':
                    print('Rs 750000-Rs 950000')
                else:
                    print('Not in Stock, Check in Future')
            else:
                print('No stocks')
                    
        else:
            print('we have no stocks older than 2021')
    else:
        print('Sorry we have no stocks')

In [11]:
used_car_price(2020,'Tata Altroz','Jaipur',15000)

Rs 650000-Rs 750000

In [14]:
used_car_price(2020,'Tata Altroz','Jaipur',22000)

Rs 750000-Rs 850000

In [15]:
used_car_price(2019,'Tata Altroz','Jaipur',15000)

Sorry we have no stocks

In [16]:
used_car_price(2020,'Tata Nexon','Jaipur',15000)

Rs 700000-Rs 900000

### Lambda Function
.It is used for simple operations in which we have multiple arguments and expressions, so we can make them short by using this.
.It is basically used for shorten the length of function or code but only for siple one.
.Formulae- lambda arguments : expressions

In [17]:
# to add number
add_num=lambda x:x+25       # x is the number we have to add in 25.It shorten the code and make it direct.
print(add_num(75))          #x=75 so 75+25=100.

100

In [19]:
# to multiply
multi_num=lambda x,y,z:x*y*z
print(multi_num(15,25,30))      #x=15,y=25 and z=30. so answer 15*25*30=11250

11250

### Args & Kwargs

In [20]:
# Args- It is used to take multiple inputs formulae:- *args
def my_fun(*args):                # *args is used to show inputs.
    for i in args:
        print('my args=',i)

In [21]:
my_fun('jaipur',50,'kota',50,60.4)      # calling function by apllyinh inputs what we want.

my args= jaipur
my args= 50
my args= kota
my args= 50
my args= 60.4

In [28]:
# Kwargs- It is also used take inputs but only if they have both keys and values like dictonary.
def my_funt(**kwargs):
    for key,value in kwargs.items():
        print(key,'=',value)

In [29]:
my_funt(Student=['akki','digi'],Marks=[90,95])

Student = ['akki', 'digi']
Marks = [90, 95]

### String Indexing
.It is used for fetching and slicing of string by using its index position.
.Space also have its own index position means if there is space in text or string it also have index position.

In [30]:
x='I LOVE PAPA'
print(x)

I LOVE PAPA

In [32]:
x[1]

' '

In [33]:
x[1:10:2]

' OEPP'

In [34]:
x[1:]

' LOVE PAPA'

In [35]:
x[-1]

'A'

In [36]:
x[:-1]

'I LOVE PAP'

In [37]:
x[::-2]

'AA VLI'

In [38]:
x[::2]

'ILV AA'

In [39]:
x[3:8]

'OVE P'

### Map & Filter

In [1]:
# Map-It is used when you want to apply a single transformation function to all iteable elements.
def grace_marks(marks):                
    if marks==33:                         # function
        return(marks+2)
    elif marks==34:
        return(marks+1)
    else:
        return marks

In [2]:
score=[50,31,32,33,34,35,80]                  # data

In [3]:
total=list(map(grace_marks,score))            # map(function,data)
total

[50, 31, 32, 35, 35, 35, 80]

In [4]:
total.count(35)

3

In [8]:
# Filter- it is same as map but it only takes 'true' value and eliminates the other one.
def filter_marks(marks):
    if marks<35:
        return marks                         #function

In [9]:
score=[50,31,32,33,34,35,80]                  # data

In [11]:
total=list(filter(filter_marks,score))            # filter(function,data)
total                                             #after calling function it eliminates other value and keeps only true.

[31, 32, 33, 34]

# Global and Local Variable

In [31]:
# Global-when variable define outside the function.It works both inside and outside the functio.
marks=50
def total_score_glob():
    print('printing inside & total is', 40+marks)
total_score_glob()

printing inside & total is 90

In [32]:
print('printing outside & total is', 40+marks)

printing outside & total is 90

In [35]:
# Local-when variable dedine inside the function.It doesn't work ouside the function.
def total_score_loc():
    marks=450
    print('printing inside & total is', 40+marks)
total_score_loc()

printing inside & total is 490

In [37]:
# to convert localto golbal
def local_global():
    global var2                              #converting local to global
    var2='yes its is'
    print(var2)
local_global()

yes its is

In [38]:
print(var2)         # when it is converted it runs outside also.

yes its is