# enumerate

.It is used to have track for both index and element both will be reflected

In [3]:
location=['delhi','jaipur','ajmer','kota','amer','haryana']
for city in enumerate(location):
    print(city)

(0, 'delhi')
(1, 'jaipur')
(2, 'ajmer')
(3, 'kota')
(4, 'amer')
(5, 'haryana')

In [4]:
location=['delhi','jaipur','ajmer','kota','amer','haryana']
for city in enumerate(location,11):
    print(city)                # when you want to start from particular number.

(11, 'delhi')
(12, 'jaipur')
(13, 'ajmer')
(14, 'kota')
(15, 'amer')
(16, 'haryana')

# Zip:-

It is used to combine two or more data elements together or you can say merging of data to form a list.

In [6]:
name=['akki','kuchi','addu','arti']
marks=[70,80,85,90]
details=list(zip(name,marks))
details

[('akki', 70), ('kuchi', 80), ('addu', 85), ('arti', 90)]

# Unzip:-

.It is used to unmerge the data.

In [7]:
name,marks=zip(*details)

In [8]:
name

('akki', 'kuchi', 'addu', 'arti')

In [9]:
marks

(70, 80, 85, 90)

# break and continue:-

In [22]:
# Break- it is used for terminate the loop and control the flow of program.

city=['delhi','jaipur','ajmer','kota']
for val in city:
    if val=='ajmer':
        break
    print(val)

delhi
jaipur

In [21]:
#Continue- used to skip the rest of the code inside the loop and doesn't terminate the loop
salary=[2000,3000,4000,7000,8000,4500,3800]

for val in salary:
    if val > 5500:
        continue
    print(val)

2000
3000
4000
4500
3800

# String indexing:-

In [23]:
a='bharti is best'                 # space in between words also have their index positions so they also be count.
print(a)

bharti is best

In [25]:
a[1:]

'harti is best'

In [27]:
a[4:13]

'ti is bes'

In [28]:
a[-1]                    # when there is -1 it starts from reverse.

't'

In [29]:
a[::2]                   # here 2 is step size.

'bat sbs'

In [30]:
a[::-2]

'te iirh'