# Date Time Manipulation

In [3]:
import numpy as np
import pandas as pd

In [4]:
date_range=pd.date_range('4/12/2021',periods=12,freq='M')    # periods= number of days,months and years
                                                             #freq(frequency) =D-day, M-month, Y-year

dates=pd.DataFrame(date_range,columns=['Date'])
dates

         Date
0  2021-04-30
1  2021-05-31
2  2021-06-30
3  2021-07-31
4  2021-08-31
5  2021-09-30
6  2021-10-31
7  2021-11-30
8  2021-12-31
9  2022-01-31
10 2022-02-28
11 2022-03-31

In [5]:
# for dd/mm/yyyy format
dates['Day']=dates['Date'].dt.day
dates['Month']=dates['Date'].dt.month
dates['Year']=dates['Date'].dt.year

In [6]:
dates

         Date  Day  Month  Year
0  2021-04-30   30      4  2021
1  2021-05-31   31      5  2021
2  2021-06-30   30      6  2021
3  2021-07-31   31      7  2021
4  2021-08-31   31      8  2021
5  2021-09-30   30      9  2021
6  2021-10-31   31     10  2021
7  2021-11-30   30     11  2021
8  2021-12-31   31     12  2021
9  2022-01-31   31      1  2022
10 2022-02-28   28      2  2022
11 2022-03-31   31      3  2022

### Example to covert object date into proper date format

In [19]:
df=pd.DataFrame({'Date_Time':['Jan 1 12:00 am','Jan 2 12:00 am']})
df

        Date_Time
0  Jan 1 12:00 am
1  Jan 2 12:00 am

In [21]:
df['Date']=pd.to_datetime(df['Date_Time'],format='%b %d %I:%M %p')
df

        Date_Time       Date
0  Jan 1 12:00 am 1900-01-01
1  Jan 2 12:00 am 1900-01-02

#### FOR format go to link-https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
serach for 'python datetime format documentation'

In [22]:
df['Day']=df['Date'].dt.day
df['Month']=df['Date'].dt.month
df['Year']=df['Date'].dt.year

In [23]:
df

        Date_Time       Date  Day  Month  Year
0  Jan 1 12:00 am 1900-01-01    1      1  1900
1  Jan 2 12:00 am 1900-01-02    2      1  1900