# Dataframe Manipulation

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [4]:
# creating data frame
mat_data=np.matrix('25,66,140;42,70,148;30,62,145;35,68,160;25,62,152')
row_labels=['raj','pandey','sirni','sunil','ashok']
column_headings=['Age','Height','Weight']

df=pd.DataFrame(data=mat_data,index=row_labels,columns=column_headings)
print(df)

        Age  Height  Weight
raj      25      66     140
pandey   42      70     148
sirni    30      62     145
sunil    35      68     160
ashok    25      62     152

In [5]:
print(df['Height'])   # to print particular column only

raj       66
pandey    70
sirni     62
sunil     68
ashok     62
Name: Height, dtype: int32

In [6]:
print(df[['Height','Weight']])

        Height  Weight
raj         66     140
pandey      70     148
sirni       62     145
sunil       68     160
ashok       62     152

In [7]:
only_ht_wt=df[['Height','Weight']]
print(only_ht_wt)     # assigning it to new one

        Height  Weight
raj         66     140
pandey      70     148
sirni       62     145
sunil       68     160
ashok       62     152

In [8]:
print(df.Age)   #access only data at a time

raj       25
pandey    42
sirni     30
sunil     35
ashok     25
Name: Age, dtype: int32

### Slicing particular element

In [9]:
df.loc['raj']    #.loc for slicing data by index name

Age        25
Height     66
Weight    140
Name: raj, dtype: int32

In [10]:
df.iloc[0]       #.iloc for slicing data by index postion

Age        25
Height     66
Weight    140
Name: raj, dtype: int32

In [11]:
print(df.loc['pandey','Height'])   # selecting data by giving row and column

70

In [13]:
print(df.loc['ashok',['Height','Weight']])   #by row and multiple columns

Height     62
Weight    152
Name: ashok, dtype: int32

In [17]:
print(df.loc[['ashok','sirni'],['Height','Weight']])  #by multiple rows and columns

       Height  Weight
ashok      62     152
sirni      62     145

### Select data on conditions

In [18]:
df

        Age  Height  Weight
raj      25      66     140
pandey   42      70     148
sirni    30      62     145
sunil    35      68     160
ashok    25      62     152

In [21]:
print(df[df['Height']>65])    #only greater tehn 65 heihgt data will be print

        Age  Height  Weight
raj      25      66     140
pandey   42      70     148
sunil    35      68     160

In [22]:
b1=df['Height']>65
b2=df['Weight']>145   # assigning condtn to new one

In [23]:
print(df[(b1) & (b2)])     # data with applied condtn will print

        Age  Height  Weight
pandey   42      70     148
sunil    35      68     160

In [27]:
print(df[b1][['Age','Weight']])  # data who with b1 condtn will be displayed

        Age  Weight
raj      25     140
pandey   42     148
sunil    35     160

In [28]:
selected_man=df[b1][['Age','Weight']]
print(selected_man)

        Age  Weight
raj      25     140
pandey   42     148
sunil    35     160

In [29]:
print(df.reset_index())    # it will reset index

    index  Age  Height  Weight
0     raj   25      66     140
1  pandey   42      70     148
2   sirni   30      62     145
3   sunil   35      68     160
4   ashok   25      62     152

In [31]:
print(df.reset_index(drop=True))   # it will remove reset condtn

   Age  Height  Weight
0   25      66     140
1   42      70     148
2   30      62     145
3   35      68     160
4   25      62     152

In [32]:
#adding new column
df['Prep']="Play Hard Live Hard Win".split()
print(df)

        Age  Height  Weight  Prep
raj      25      66     140  Play
pandey   42      70     148  Hard
sirni    30      62     145  Live
sunil    35      68     160  Hard
ashok    25      62     152   Win

In [33]:
print(df.set_index('Prep'))  # set_index used to chaning coulmn to index

      Age  Height  Weight
Prep
Play   25      66     140
Hard   42      70     148
Live   30      62     145
Hard   35      68     160
Win    25      62     152