# Series Manipulation

In [1]:
import numpy as np
import pandas as pd

In [2]:
ser1=pd.Series(data=[1,2,3,4],index=['CA','OR','CO','AZ'])
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [3]:
#for particular value in series
print("Vlaue of CA in ser1:",ser1['CA'])
print("Vlaue of CA in ser1:",ser1['AZ'])     #CA and AZ  value will be reflected

Vlaue of CA in ser1: 1
Vlaue of CA in ser1: 4

In [5]:
print(ser1[1:4])   #index position 1 to 4 will be reflected

OR    2
CO    3
AZ    4
dtype: int64

In [6]:
ser1=pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2=pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [7]:
print('ser1 \n',ser1)
print('*'*20)
print('ser2 \n',ser2)

ser1
 CA     1
OR     2
CO     3
AZ     4
NV    10
dtype: int64
********************
ser2
 CA     1
OR     2
NV     5
PA     4
CO    30
dtype: int64

In [8]:
# to add both of the series
ser3=ser1+ser2
print(ser3)   # it will add only those vales wihich is present in both the series and give nan values which one are unique

AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64