# SQL_DATAFRAME

In [7]:
import sqlite3
db=sqlite3.connect("my-testbase.db")
cursor=db.cursor()

In [10]:
sql='Drop Table stud_det'
cursor.execute(sql)

In [11]:
cursor.execute("CREATE TABLE stud_det(phone_number INT PRIMARY KEY, student_name TEXT, enrolled_date TEXT, marks INT)")

#insert records into the table
with open('Students_details.csv','r') as file:
    no_records=0
    for row in file:
        cursor.execute("INSERT INTO stud_det VALUES(?,?,?,?)", row.split(","))
        db.commit()
        no_records+=1
print(no_records,'Records Inserted')

results=cursor.execute("SELECT * FROM stud_det")
for row in results:
    print(row)

20 Records Inserted
(9988776604, 'Salah', '03-10-2020', 85)
(9988776605, 'Heung-Son', '21-06-2020', 39)
(9988776606, 'Ronaldo', '08-05-2020', 86)
(9988776607, 'Kane', '11-05-2022', 57)
(9988776608, 'Mane', '17-05-2022', 52)
(6609998877, 'Vardy', '17-12-2020', 54)
(6609998878, 'Jota', '06-11-2021', 45)
(6609998879, 'Bruyne', '26-11-2020', 49)
(6609998880, 'Zaha', '05-12-2020', 88)
(6609998881, 'Sterling', '29-10-2020', 61)
(9988776614, 'Toney', '31-03-2022', 71)
(9988776615, 'Maddison', '10-03-2020', 44)
(1687799866, 'Bowen', '14-02-2021', 96)
(1687799867, 'Saka', '19-12-2022', 92)
(1687799868, 'Watkins', '30-01-2021', 49)
(1687799869, 'Mount', '16-09-2022', 48)
(1687799870, 'Raphael', '15-05-2021', 50)
(1687799871, 'Mahrez', '30-10-2021', 72)
(9988776622, 'Pukki', '19-02-2021', 93)
(9988776623, 'Fernandes', '01-03-2022', 94)

In [12]:
import pandas as pd

In [14]:
cursor.execute("SELECT * FROM stud_det")
df=pd.DataFrame(cursor.fetchall())
print(df)    # converting sql into dataframe

             0          1           2   3
0   9988776604      Salah  03-10-2020  85
1   9988776605  Heung-Son  21-06-2020  39
2   9988776606    Ronaldo  08-05-2020  86
3   9988776607       Kane  11-05-2022  57
4   9988776608       Mane  17-05-2022  52
5   6609998877      Vardy  17-12-2020  54
6   6609998878       Jota  06-11-2021  45
7   6609998879     Bruyne  26-11-2020  49
8   6609998880       Zaha  05-12-2020  88
9   6609998881   Sterling  29-10-2020  61
10  9988776614      Toney  31-03-2022  71
11  9988776615   Maddison  10-03-2020  44
12  1687799866      Bowen  14-02-2021  96
13  1687799867       Saka  19-12-2022  92
14  1687799868    Watkins  30-01-2021  49
15  1687799869      Mount  16-09-2022  48
16  1687799870    Raphael  15-05-2021  50
17  1687799871     Mahrez  30-10-2021  72
18  9988776622      Pukki  19-02-2021  93
19  9988776623  Fernandes  01-03-2022  94

In [15]:
cursor.description   # to fetch column names

(('phone_number', None, None, None, None, None, None),
 ('student_name', None, None, None, None, None, None),
 ('enrolled_date', None, None, None, None, None, None),
 ('marks', None, None, None, None, None, None))

In [16]:
list(df.columns)

[0, 1, 2, 3]

In [17]:
df.columns=[x[0] for x in cursor.description]
df    # table will be printed as in proper assigned columns names

    phone_number student_name enrolled_date  marks
0     9988776604        Salah    03-10-2020     85
1     9988776605    Heung-Son    21-06-2020     39
2     9988776606      Ronaldo    08-05-2020     86
3     9988776607         Kane    11-05-2022     57
4     9988776608         Mane    17-05-2022     52
5     6609998877        Vardy    17-12-2020     54
6     6609998878         Jota    06-11-2021     45
7     6609998879       Bruyne    26-11-2020     49
8     6609998880         Zaha    05-12-2020     88
9     6609998881     Sterling    29-10-2020     61
10    9988776614        Toney    31-03-2022     71
11    9988776615     Maddison    10-03-2020     44
12    1687799866        Bowen    14-02-2021     96
13    1687799867         Saka    19-12-2022     92
14    1687799868      Watkins    30-01-2021     49
15    1687799869        Mount    16-09-2022     48
16    1687799870      Raphael    15-05-2021     50
17    1687799871       Mahrez    30-10-2021     72
18    9988776622        Pukki    19-02-2021     93
19    9988776623    Fernandes    01-03-2022     94